* {
    margin: 0;
    padding: 0;
}

body {
    background: teal url("../images/rig.jpg") center no-repeat;
    height: 100vh;
    background-size: cover;
}

.body {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
}